<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%#
  Configure default and controller-, and view-specific titles in
  config/locales/en.yml. For more see:
  https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="container">
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item logo-nav" href="/">
            OpenImg
          </a>
          <a class="nav-item is-tab is-hidden-mobile" href="/">Home</a>
          <a class="nav-item is-tab is-hidden-mobile" href="/new">Newest Posts</a>
          <a class="nav-item is-tab is-hidden-mobile">Mod Log</a>
          <a class="nav-item is-tab is-hidden-mobile">About</a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab is-hidden-tablet is-active" href="/">Home</a>
          <a class="nav-item is-tab is-hidden-tablet" href="/new">Newest Posts</a>
          <a class="nav-item is-tab is-hidden-tablet">Mod Log</a>
          <a class="nav-item is-tab is-hidden-tablet">About</a>
          <% if user_signed_in? %>
            <a class="nav-item is-tab">@<%= current_user.username %></a>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'nav-item is-tab') %> 
          <% else %>
            <%= link_to('Register', new_user_registration_path, class: 'nav-item is-tab')  %>
            <%= link_to('Login', new_user_session_path, class: 'nav-item is-tab')  %>  
          <% end %>
        </div>
      </div>
    </nav>
    <%= render "flashes" -%>
    <%= yield %>
    <%= render "javascript" %>
    <%= render "css_overrides" %>
  </div>
</body>
</html>
